.edit-form-task {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 25%;
}

.edit-task-inputs {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.task-select-edit-status {
  width: 27rem;
  margin-bottom: 1rem;
  height: 5rem;
  border: none;
  border-radius: 10px;
  font-weight: lighter;
  font-size: x-large;
  cursor: pointer;
}

.edit-task-input {
  padding: 1rem;
  width: 25rem;
  height: 2rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 10px;
  font-weight: lighter;
  font-size: x-large;
}

.edit-task-input-description {
  padding: 1rem;
  width: 25rem;
  height: 8rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 10px;
  font-weight: lighter;
  font-size: x-large;
}

.edit-task-container {
  display: flex;
  margin: auto
}

.edit-task-button {
  font-size: large;
  font-weight: bold;
  color: #202C39;
  margin: 1rem 2rem;
  width: 8rem;
}