.form-task {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 25%;
}

.task-inputs {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.task-description {
  padding: 1rem;
  width: 25rem;
  height: 8rem;
  margin: 1rem;
  border: none;
  border-radius: 10px;
  font-weight: lighter;
  font-size: x-large;
}
.task-input {
  padding: 1rem;
  width: 25rem;
  height: 2rem;
  margin: 1rem;
  border: none;
  border-radius: 10px;
  font-weight: lighter;
  font-size: x-large;
}

.input-title {
  margin: 0;
  padding: 0;
}
