h1, h2, p, li, h3 {
  color: #C7EDE4;
}

button {
  cursor: pointer;
  border-radius: 10px;
  border: none;
  padding: 1rem;
  margin: 5px;
}

.name-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.subtitle {
  display: flex;
  justify-content: center;
}

.tasks-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 1em;
  margin: 5rem;
}