::placeholder {
  font-size: x-large;
}

.login-container {
  align-items: center;
  border: 5px #C7EDE4 outset;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  padding: 6rem 5rem;
}

.login-div {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.login-input {
  padding: 1rem;
  width: 25rem;
  height: 2rem;
  margin: 1rem;
  border: none;
  border-radius: 10px;
  font-weight: lighter;
  font-size: x-large;
}

.login-button {
  font-size: x-large;
  font-weight: bold;
  color: #202C39;
  margin: 1rem 2rem;
  width: 8rem;
}

.login-button:hover {
  transform: scale(1.1);
  transition: .3s ease;
}

.login-button:disabled {
  transform: scale(1.0);
  cursor: auto;
}

.title {
  font-weight: lighter;
  font-size: 50px;
  margin-bottom: 1rem;
}